.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background-color: #B6B6B6;
    justify-content: flex-start;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 15px;
}

.form-group input, .form-group select{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.checkbox-group {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly; 
  }

.input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox{
    display: flex;
    flex-direction: row;
}

.sub-titulo{
    font-size: 24px;
}
.botao button{
    align-self: end;
    width: 150px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.botao button:hover{
    background-color: blue;
}

